In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('./gainesville_test.csv', 
  low_memory=False, 
  encoding='ISO-8859-1', 
  dtype='str')

df.head()

,CITATION_NUMBER,ISSUE_DATE,ISSUE_TIME,VIOLATION_TYPE,VIOLATION_CODE,VIOLATION_BASE_AMOUNT,FEE_SCHEDULE_START_DATE,ESCALATION_FEE,ADJUSTMENT_AMOUNT,LPN,...,STATE,ZIP,BIRTH_DATE,VOID,LATTITUDE,LONGITUDE,PAYMENT_DATETIME,PAYMENT_TYPE,PAYMENT_AMOUNT,REFERENCE_NUMBER
0,PW200018603,12/12/19,16:16:39,7SP OFFICIAL SIGNS PROHIBIT,26-47 (a)(3)b,33.75,12/12/19 16:16,31,16,G8R10IS,...,10,32607,NaN,0,29.6531082,-82.340605,NaN,NaN,NaN,NaN
1,PW200018603,12/12/19,16:16:39,7SP OFFICIAL SIGNS PROHIBIT,26-47 (a)(3)b,33.75,12/12/19 16:16,31,16,G8R10IS,...,10,32607,NaN,0,29.6531082,-82.340605,NaN,NaN,NaN,NaN
2,PW200018771,1/3/20,13:18:34,7SP OFFICIAL SIGNS PROHIBIT,26-47 (a)(3)b,33.75,1/3/20 13:18,31,16,G8R10IS,...,10,32607,NaN,0,29.653335,-82.340678,NaN,NaN,NaN,NaN
3,PW200100161,10/10/19,9:43:05,7SP OFFICIAL SIGNS PROHIBIT,26-47 (a)(3)b,33.75,10/10/19 9:43,31,16,MISSSUN,...,10,34746,NaN,0,29.6478553,-82.338996,NaN,NaN,NaN,NaN
4,PW200100161,10/10/19,9:43:05,7SP OFFICIAL SIGNS PROHIBIT,26-47 (a)(3)b,33.75,10/10/19 9:43,31,16,MISSSUN,...,10,34746,NaN,0,29.6478553,-82.338996,NaN,NaN,NaN,NaN

In [6]:
#df.info()
df.shape

(1366, 33)

In [8]:
df.columns.tolist()

['CITATION_NUMBER',
 'ISSUE_DATE',
 'ISSUE_TIME',
 'VIOLATION_TYPE',
 'VIOLATION_CODE',
 'VIOLATION_BASE_AMOUNT',
 'FEE_SCHEDULE_START_DATE',
 'ESCALATION_FEE',
 'ADJUSTMENT_AMOUNT',
 'LPN',
 'LPN_STATE',
 'VIN',
 'LOCATION',
 'OFFICER',
 'SPACE_NUMBER',
 'VEHICLE_MAKE',
 'VEHICLE_MODEL',
 'VEHICLE_COLOR',
 'FIRST_NAME',
 'LAST_NAME',
 'ADDRESS1',
 'ADDRESS2',
 'CITY',
 'STATE',
 'ZIP',
 'BIRTH_DATE',
 'VOID',
 'LATTITUDE',
 'LONGITUDE',
 'PAYMENT_DATETIME',
 'PAYMENT_TYPE',
 'PAYMENT_AMOUNT',
 'REFERENCE_NUMBER']

In [9]:
def rename_columns(dataframe):
    """Rename all cols to lowercase using a zip() between both lists"""
    cols = dataframe.columns.tolist()
    lc_cols = [col.lower().replace(' ', '_') for col in cols]
    renamed = dict(zip(cols, lc_cols))
    dataframe = dataframe.rename(columns=renamed)
    return dataframe

In [10]:
rename_columns(df)

,citation_number,issue_date,issue_time,violation_type,violation_code,violation_base_amount,fee_schedule_start_date,escalation_fee,adjustment_amount,lpn,...,state,zip,birth_date,void,lattitude,longitude,payment_datetime,payment_type,payment_amount,reference_number
0,PW200018603,12/12/19,16:16:39,7SP OFFICIAL SIGNS PROHIBIT,26-47 (a)(3)b,33.75,12/12/19 16:16,31,16,G8R10IS,...,10,32607,NaN,0,29.6531082,-82.340605,NaN,NaN,NaN,NaN
1,PW200018603,12/12/19,16:16:39,7SP OFFICIAL SIGNS PROHIBIT,26-47 (a)(3)b,33.75,12/12/19 16:16,31,16,G8R10IS,...,10,32607,NaN,0,29.6531082,-82.340605,NaN,NaN,NaN,NaN
2,PW200018771,1/3/20,13:18:34,7SP OFFICIAL SIGNS PROHIBIT,26-47 (a)(3)b,33.75,1/3/20 13:18,31,16,G8R10IS,...,10,32607,NaN,0,29.653335,-82.340678,NaN,NaN,NaN,NaN
3,PW200100161,10/10/19,9:43:05,7SP OFFICIAL SIGNS PROHIBIT,26-47 (a)(3)b,33.75,10/10/19 9:43,31,16,MISSSUN,...,10,34746,NaN,0,29.6478553,-82.338996,NaN,NaN,NaN,NaN
4,PW200100161,10/10/19,9:43:05,7SP OFFICIAL SIGNS PROHIBIT,26-47 (a)(3)b,33.75,10/10/19 9:43,31,16,MISSSUN,...,10,34746,NaN,0,29.6478553,-82.338996,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1361,PW200017477,11/4/19,10:23:02,7WI PARK WITHIN SPACE REQUIRED,26-79,33.75,11/4/19 10:23,31,16,KSKA92,...,10,32601,29-Dec-99,0,29.6539797,-82.347728,NaN,NaN,NaN,NaN
1362,PW200202031,11/15/19,12:11:07,7WI PARK WITHIN SPACE REQUIRED,26-79,33.75,11/15/19 12:11,31,16,KSKA92,...,10,32601,29-Dec-99,0,29.6549586,-82.347704,NaN,NaN,NaN,NaN
1363,PW200202031,11/15/19,12:11:07,7WI PARK WITHIN SPACE REQUIRED,26-79,33.75,11/15/19 12:11,31,16,KSKA92,...,10,32601,29-Dec-99,0,29.6549586,-82.347704,NaN,NaN,NaN,NaN
1364,PW200100438,10/30/19,9:26:35,7WI PARK WITHIN SPACE REQUIRED,26-79,33.75,10/30/19 9:26,31,16,KSKA92,...,10,32601,29-Dec-99,0,29.6495524,-82.332478,NaN,NaN,NaN,NaN
1365,PW200100438,10/30/19,9:26:35,7WI PARK WITHIN SPACE REQUIRED,26-79,33.75,10/30/19 9:26,31,16,KSKA92,...,10,32601,29-Dec-99,0,29.6495524,-82.332478,NaN,NaN,NaN,NaN